<div id="content"></div>

<script>
  var appImages = {
    loadingGif: "<%= asset_path('local/365.GIF') %>",
    minusSign: "<%= asset_path('local/minus.png') %>",
    plusSign: "<%= asset_path('local/plus.png') %>"
  }
</script>

<script src="https://checkout.stripe.com/checkout.js"></script>
